/*-- scss:defaults --*/

// Import Google fonts
//@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


// fonts
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-serif: 'Sanchez', serif;
$font-family-monospace: 'Roboto Mono', monospace;


// Nature-inspired Colors
$dark-green: #7A856D;
$light-green: #C5D1BA;
$cream: #F0EFEA;
$gray: #6E665B;
$earthy-brown: #A67F59;
$muted-olive: #9C9464;
$burnt-orange: #D08C60; // Warm, Morandi-style burnt orange

// Base document colors
$navbar-bg: $light-green; // navbar background
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $burnt-orange; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $gray; // page text 
$footer-bg: $light-green; // footer background
$link-color: $burnt-orange; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $muted-olive; // inline code text color

/*-- scss:rules --*/

// header font & color
h1, h2, h3, h4 {
  color: $dark-green;
}

// line beneath h2
h2 {
  border-bottom: 3px solid $dark-green;
  padding-bottom: 0.5rem;
}



.title {
  color: $burnt-orange; // Change title color to burnt orange
}

.center-text {
  text-align: center;
}

.orange-text {
  color: $burnt-orange; // Change any orange-text class to burnt orange
}

.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

.btn {
  border-radius: 12px; // 圆角半径，控制形状。0px 是方形，50% 是圆形。
  padding: 10px 20px; // 内边距，控制按钮的大小。
  font-size: 16px; // 字体大小，间接影响按钮大小。
}

